[Unit]
Description=ARASUL Deadman Switch Timer
After=arasul-platform.service

[Timer]
OnBootSec=120
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
